body {
    margin: 0 auto;
    color: darkslategray;
    width: 100vw;
    min-height: 100vh;
    background-color: azure;
    display: grid;
    grid-template: 
        "... ...... ...... ...... ...... ...... ..." 5px
        "... header header header header header ..." 
        "... ...... ...... ...... ...... ...... ..." 10px
        "... ...... ...... main   ...... aside  ..." 1fr
        "... ...... ...... ...... ...... ...... ..." 10px
        "... footer footer footer footer footer ..." 200px
        "... ...... ...... ...... ...... ...... ..." 10px
        /10px 150px 10px minmax(300px, 1fr) 10px 200px 10px;
}

header {
    grid-area: header;
    font-size: 24px;
    color: #e9e9e9;
    width: 100vw;
    text-align: center;
    background-color: #0855a1c5;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
}

header p {
    margin: 0;

}

main {
    grid-area: main;
}
.list-items {
    list-style: none;
    padding: 0;
}

.list-item {
    margin: 5px;
    height: auto;
    border: cadetblue solid 1px;
    border-radius: 5px;
    background-color: #fbfdff;
}

.sample-info {
    font-size: 15px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}
.info {
    margin-right: 10px;
}
.scores {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.score {
    height: 15px;
    width: 15px;
    margin: 10px 0 0 0;
}

.score-label {
    display: flex;
    justify-content: space-around;
}
.score-label div {
    width: 15px;
    text-align: center;
}
.comment {
    height: 30px;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px
    ;
}
.comment input {
    height: 20px;
    width: 90%;
    display: block;
    margin: 0 auto;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

@media screen and (max-width: 500px) {
    body {
        grid-template:
            "header" 50px
            "......" 10px
            "main  " 1fr
            "......" 10px
            "aside " 50px
            "......" 10px
            "footer" 200px
            "......" 10px;
    }
}