:root {
    --font-dark-color: #211f30;
    --font-light-color: #ffffff;
    --font-sub-color: #c3c7d6;
    
    --main-color: var(--font-dark-color);
    --main-back-color: #f0f0f0;
    --header-color: var(--font-light-color);
    --header-back-color: #217ca3;
    --footer-color: var(--font-light-color);
    --footer-back-color: #211f30;
    --button-color: var(--font-dark-color);
    --button-back-color: #e29930;
    --button-border-color: #b46a02;
    --menu-color: var(--font-light-color);
    --menu-back-color: #6cb1cc;
    --menu-border-color: #211f30;
}
